# VacationPy

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

## Store Part I results into DataFrame

In [22]:
# Load the csv exported in Part I to a DataFrame
csv_file = os.path.join('..', 'Output', 'city_weather.csv')
city_df = pd.read_csv(csv_file) 
city_df

,No,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
0,0,986717,Kruisfontein,ZA,-34.0033,24.7314,48.88,89,3,4.41
1,1,746983,Gelibolu,TR,40.4103,26.6708,76.86,76,0,1.77
2,2,2206939,Bluff,NZ,-46.6000,168.3333,49.80,96,100,9.26
3,3,537094,Lal'sk,RU,60.7415,47.5862,70.74,69,41,5.01
4,4,5122534,Jamestown,US,42.0970,-79.2353,78.28,39,1,11.01
...,...,...,...,...,...,...,...,...,...,...
554,554,3451399,Ribas do Rio Pardo,BR,-20.4431,-53.7592,80.53,32,97,8.30
555,555,186180,Moyale,KE,3.5167,39.0584,69.73,60,100,10.42
556,556,934479,Grand Gaube,MU,-20.0064,57.6608,69.39,64,93,4.00
557,557,3118304,Llanes,ES,43.4198,-4.7549,62.02,80,39,4.83
558,558,2629833,Husavik,IS,66.0449,-17.3389,53.51,67,100,4.16

## Humidity Heatmap

In [23]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Use the Lat and Lng as locations and Humidity as the weight
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]

# Add Heatmap layer to map
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

## Create new DataFrame fitting weather criteria

In [24]:
# Narrow down the cities to fit weather conditions.
# Drop any rows will null values.
ideal_df = city_df[(city_df['Temperature'] >= 75) & (city_df['Temperature'] <= 90)]
ideal_df = ideal_df[ideal_df['Wind Speed'] <= 10]
ideal_df = ideal_df[ideal_df['Clouds'] <= 10]
ideal_df = ideal_df[ideal_df['Humidity'] <= 70]
hotel_df = ideal_df
hotel_df

,No,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
31,31,3460107,Jaraguá,BR,-15.7569,-49.3344,75.42,31,0,1.86
72,72,5106841,Albany,US,42.6001,-73.9662,76.39,39,0,9.55
91,91,5364271,Laguna,US,38.4210,-121.4238,85.03,38,1,5.01
130,130,100926,Umluj,SA,25.0213,37.2685,84.92,55,2,9.53
164,164,5044290,Saint Anthony,US,45.0205,-93.2180,83.88,55,1,4.00
188,188,921786,Mitsamiouli,KM,-11.3847,43.2844,75.42,64,0,4.23
211,211,3472473,Alto Araguaia,BR,-17.3147,-53.2153,77.40,28,8,3.27
245,245,1529376,Korla,CN,41.7597,86.1469,75.78,24,0,1.41
261,261,3203651,Bosanski Brod,BA,45.1375,17.9897,82.65,59,2,4.21
265,265,792680,Belgrade,RS,44.8040,20.4651,80.85,42,0,9.22
317,317,2548885,Fes,MA,34.0372,-4.9998,82.65,39,0,5.75
322,322,5815136,Washougal,US,45.5826,-122.3534,83.26,47,1,4.61
327,327,1142226,Dawlatabad,AF,36.4141,64.9053,77.99,17,0,6.91
359,359,583345,Aleksandrov Gay,RU,50.1470,48.5704,78.91,50,0,8.61
369,369,3464724,Diamantino,BR,-14.4086,-56.4461,84.69,33,0,2.75
372,372,5110365,Broome,US,42.2506,-75.8330,75.99,45,1,3.00
398,398,3522526,Nuevo Progreso,MX,23.1667,-97.9500,89.62,66,3,5.99
404,404,5334223,Carlsbad,US,33.1581,-117.3506,75.04,69,1,7.00
417,417,3456642,Mozarlândia,BR,-14.7447,-50.5706,84.16,25,0,4.12
459,459,1529484,Kumul,CN,42.8000,93.4500,79.39,21,1,3.96
490,490,359796,Suez,EG,29.9737,32.5263,78.33,50,0,8.72
507,507,4362001,Mayo,US,38.8876,-76.5119,76.53,46,1,5.99

## Hotel Map

In [26]:
# Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.
hotel_df['Hotel Name'] = ""
hotel_df

,No,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
31,31,3460107,Jaraguá,BR,-15.7569,-49.3344,75.42,31,0,1.86,
72,72,5106841,Albany,US,42.6001,-73.9662,76.39,39,0,9.55,
91,91,5364271,Laguna,US,38.4210,-121.4238,85.03,38,1,5.01,
130,130,100926,Umluj,SA,25.0213,37.2685,84.92,55,2,9.53,
164,164,5044290,Saint Anthony,US,45.0205,-93.2180,83.88,55,1,4.00,
188,188,921786,Mitsamiouli,KM,-11.3847,43.2844,75.42,64,0,4.23,
211,211,3472473,Alto Araguaia,BR,-17.3147,-53.2153,77.40,28,8,3.27,
245,245,1529376,Korla,CN,41.7597,86.1469,75.78,24,0,1.41,
261,261,3203651,Bosanski Brod,BA,45.1375,17.9897,82.65,59,2,4.21,
265,265,792680,Belgrade,RS,44.8040,20.4651,80.85,42,0,9.22,
317,317,2548885,Fes,MA,34.0372,-4.9998,82.65,39,0,5.75,
322,322,5815136,Washougal,US,45.5826,-122.3534,83.26,47,1,4.61,
327,327,1142226,Dawlatabad,AF,36.4141,64.9053,77.99,17,0,6.91,
359,359,583345,Aleksandrov Gay,RU,50.1470,48.5704,78.91,50,0,8.61,
369,369,3464724,Diamantino,BR,-14.4086,-56.4461,84.69,33,0,2.75,
372,372,5110365,Broome,US,42.2506,-75.8330,75.99,45,1,3.00,
398,398,3522526,Nuevo Progreso,MX,23.1667,-97.9500,89.62,66,3,5.99,
404,404,5334223,Carlsbad,US,33.1581,-117.3506,75.04,69,1,7.00,
417,417,3456642,Mozarlândia,BR,-14.7447,-50.5706,84.16,25,0,4.12,
459,459,1529484,Kumul,CN,42.8000,93.4500,79.39,21,1,3.96,
490,490,359796,Suez,EG,29.9737,32.5263,78.33,50,0,8.72,
507,507,4362001,Mayo,US,38.8876,-76.5119,76.53,46,1,5.99,

In [ ]:
# Set parameters to search for hotels with 5000 meters.
# Hit the Google Places API for each city's coordinates.
# Store the first Hotel result into the DataFrame.
# Plot markers on top of the heatmap.
for index, row in hotel_df.iterrows():
    try:
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        params = {"keyword": "hotel", "radius": 5000, "key": g_key}

        lat = row['Lat']
        lng = row['Lng']

        params['location'] = f"{lat}, {lng}"
        hotel_data = requests.get(base_url, params=params).json()
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except IndexError:                
        hotel_df.loc[index, "Hotel Name"] = "NaN"

hotel_df

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# Display figure
fig